?############################
# .NET / Visual Studio
############################

bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.cache
*.pdb
*.log

.vs/
TestResults/

############################
#  Rider / VS Code
############################

.vscode/
.idea/

############################
#  Docker
############################

**/docker-compose.override.yml
*.env
.env
.env.*

############################
#  Logs
############################

logs/
*.log

############################
#  OS files
############################

.DS_Store
Thumbs.db

############################
#  Node (por si agregas frontend)
############################

node_modules/

############################
# ?? Secrets
############################

appsettings.Development.json
appsettings.*.local.json
/observability/certs/firebase-service-account.json

############################
# ?? Coverage
############################

coverage/
*.coverage
*.coveragexml

############################
# ?? Publish
############################

publish/
out/
deploy/prod/.env
**/.env

############################
# ?? Database / Temp
############################

*.db
*.sqlite
*.mdf
*.ldf
